:root {
    --primary-color: #013177;
    --secondary-color: #009DD1;
    --accent-color:#7ED348;
}

body{
    font-family: 'Lato', sans-serif; 
    background-color: #fff;            
    margin: 0;                       
    padding: 0;                      
    line-height: 1.6;                
}

/*start point section*/

.starting-point{

    background:linear-gradient(
    90deg, 
    var(--primary-color), 
    var(--secondary-color),
    var(--accent-color)
    ); 
    min-height: 0vh;
    padding: 0px 50px;
    position: relative;
    overflow: visible;
}
.navbar{
    display: flex;
    justify-content:space-between;
    padding: 0;
    margin: 10px;
    background: transparent;
}

.logo{
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
}

.nav-list{
    display: flex;
    gap: 40px;
    margin: 25px;
    padding: 0;
    list-style: none;

}

.nav-item a{
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
     
}

.nav-item a:hover{
    color: darkgreen;
    transform: scale(1.5);
   
}

.heros{
    display:block;
    justify-content: center;
    align-items:center;
    text-align: center;
    padding: 5px;
    padding-bottom: 30px;
    color: white;

}

.heading-containers{
    display: inline-block;
    justify-content: center;
    align-items: center;
   
}
.animated-headings {
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 5rem; 
    line-height: 1.5;
    color: white;
    margin:0;
    letter-spacing: 3px;
}

.animated-headings span {
    display: block; 
    transform: translateY(-360px);
    animation: slideIn 1.2s forwards;
}


.animated-heading span:nth-child(1) { animation-delay: 0.4s; }




@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.heading-two {
    font-family: 'lato', sans-serif; 
    font-size:2rem; 
    font-weight:lighter;
    line-height: 1.3;
    color: white;
    margin:15px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 100%;
}
